$base-color-100: #003459;
$placeholder-color: #99A2A5;
$grey-20: #fdfdfd;
$dark-blue-100: #002A48;
$black-color: #00171F;
$grey-100: #667479;
$grey-30: #CCD1D2;
$grey-40: #99A2A5;
$light-yellow-100: #FCEED5;
$light-blue-100: #00A7E7;
$orange-100: #FFB775